<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li id="home" class="nav-item ">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li id="categories" class="nav-item ">
				<a class="nav-link" href="/categories">Categories <span class="sr-only">(current)</span></a>
			</li>
			<li id="searchresults" class="nav-item ">
				<a class="nav-link" href="/previous_analysis">Analysis History <span class="sr-only">(current)</span></a>
			</li>
			<li id="technology" class="nav-item ">
				<a class="nav-link" href="/technology">About Sentiment Analysis <span class="sr-only">(current)</span></a>
			</li>
			<!-- <li id="contact" class="nav-item ">
	        <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
	      </li>
	      <li id="about" class="nav-item ">
	        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
				</li> -->

			<li id="technology" class="nav-item ">
				<a class="nav-link" href="http://127.0.0.1:5001/index">Last 100 Tweets Sentiment <span class="sr-only">(current)</span></a>
			</li>



		</ul>
		<form action="/analyze" method="post" class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
			<input type="submit" value="Analyze" class="btn btn-primary" id="searchbtn" />
			<!-- <button type="button" class="btn btn-primary" id="searchbtn">Search</button> -->
		</form>
		<u1>


		</u1>
	</div>
</nav>

<!-- 	<object id="content" class="aobject" type="text/html" style="position:absolute;overflow:hidden;
	
	top: 10%;
	left: 0;
	right: 0;
	bottom: 0;"> -->