

<link rel="stylesheet" href="/scripts/css/categories.css" type="text/css" >

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- ####################### NAVBAR ########################################## -->

  {% include "includes/_navbar.html" %}

  <!-- ################################################################################## -->



    
    
  </div>
  <div style="margin:1%;margin-top:2%;">
    <p class="display-4">
      Politics
    </p>
    <div class="row" style="margin-left:0.25%;">
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/donald.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Donald Trump</h5>
        
        <a href="/analyze/Donald Trump" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/obama.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Barack Obama</h5>
        
        <a href="/analyze/Barack Obama" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/kpoli.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">KP Oli</h5>
        
        <a href="/analyze/KP Oli" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div><div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/rabindramishra.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Rabindra Mishra</h5>
        
        <a href="/analyze/Rabindra Mishra" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    
    
    </div>
    
    
  </div>


  <div style="margin:1%;margin-top:2%;">
    <p class="display-4">
      Sports
    </p>
    <div class="row" style="margin-left:0.25%;">
    
    
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/ronaldo.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Ronaldo</h5>
        
        <a href="/analyze/Ronaldo" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/arsene.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Arsene Wenger</h5>
        
        <a href="/analyze/Arsene Wenger" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/worldcup.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Fifa World Cup 2018</h5>
        
        <a href="/analyze/world cup 2018" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/wwe.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">WWE</h5>
        
        <a href="/analyze/wwe" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    
    </div>
  </div>
    
    
  </div>


  <div style="margin:1%;margin-top:2%;">
    <p class="display-4">
      Economy
    </p>
    <div class="row" style="margin-left:0.25%;">
    
    
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/financereform.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Finance Reform</h5>
        
        <a href=/analyze/finance" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/unemployment.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Unemployment</h5>
        
        <a href="/analyze/employment" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/autoindustry.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Auto Industry</h5>
        
        <a href="/analyze/cars" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/stockmarket.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Stock Market</h5>
        
        <a href="/analyze/stocks" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    
    </div>
  </div>
    
    
  </div>


  <div style="margin:1%;margin-top:2%;">
    <p class="display-4">
      Companies
    </p>
    <div class="row" style="margin-left:0.25%;">
    
    
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/goldstar.png" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Goldstar</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/google.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Google</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/yahoo.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Yahoo</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/apple.png" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Apple</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    
    </div>
  </div>
    
    
  </div>



  <div style="margin:1%;margin-top:2%;margin-bottom:50%;">
    <p class="display-4">
     Entertainment
    </p>
    <div class="row" style="margin-left:0.25%;">
    
    
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/eminem.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Eminem</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/got.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Game of Thrones</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/neetesh.jpg" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Neetesh Jung Kunwar</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;float:left;padding:1%;margin:0.5%">
      <img class="card-img-top" src="/static/assets/miley.png" alt="Card image cap" style="height:30%;">
      <div class="card-body">
        <h5 class="card-title">Miley Cirus</h5>
        
        <a href="/analyze/" class="btn btn-primary">Get Sentiment</a>
      </div>
    </div>
    
    </div>
  </div>
    
    
  </div>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  